.global-comment-modal {
  .ant-modal-content {
    padding: 32px;
    padding-top: 47px;
    .ant-modal-header {
      border-bottom: 1px solid #dfe7ea;
      padding-bottom: 47px;
      .ant-modal-title {
        font-family: 'Electrolux Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 150%;
        color: #011e41;
      }
    }
    .ant-modal-close {
      top: 45px;
      inset-inline-end: 30px;
    }
  }
}
