.global-comment-container {
  .comments {
    height: 550px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    li {
      padding: 10px 16px;
      background: #dfe7ea;
      border-radius: 4px;
      margin-bottom: 16px;
      font-family: 'Electrolux Sans';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #011e41;
    }
  }
  .comment-submit-wrapper {
    width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    input {
      flex: 1;
    }
    button {
      background: #011e41;
      border-radius: 6px;
    }
  }
}
