.ant-drawer-wrapper-body{
    font-family: 'Electrolux Sans';
}

.ant-drawer-title{
    color: #011e41 !important;
}

.filter-type-options {
    margin-top: 24px;
    margin-bottom: 14px;
    font-family: 'Electrolux Sans';
    .ant-select-selector {
        height: 54px !important;
        background: #ffffff;
        border: 1px solid #adb9c3;
        border-radius: 0;
        margin-bottom: 10px;
        .ant-select-selection-item {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            color: #011e41;
        }
    }
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-selector:hover,
.ant-select-open .ant-select-selector {
    border-color: #d9d9d9 !important;
    box-shadow: none !important;
}

.ant-select-selection-placeholder {
    color: #BCC4CC !important;
    font-family: 'Electrolux Sans';
}

